<footer class="footer">
    <div class="contenedor row">
        <div class="footer-icons">
            <h5>¡Síguenos en redes sociales!</h5>
            <div class="iconos">
                <div class="iconos"><i class="fa fa-facebook-square"></i></div>
                <div class="iconos"><i class="fa fa-twitter"></i></div>
                <div class="iconos"><i class="fa fa-linkedin"></i></div>
                <div class="iconos"><i class="fa fa-github"></i></div>
            </div>
            <p class="texto">En Vitu podrás buscar anuncios clasificados y publicar anuncios gratis en toda España. </p>
        </div>
    </div>
    <p class="footer-company-name">Vitu © 2020 Tablón de anuncios de libros gratis</p>
</footer>